<h1 class="animated fadeIn fast">Sobre el app de comic de la clase</h1>
<br>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque aliquid repudiandae voluptatibus doloribus facere quos unde, harum nostrum quaerat hic totam sed. Sint tempore dolores aspernatur in non quam modi. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Excepturi, incidunt obcaecati, est provident deserunt tempora iste cumque distinctio laborum inventore asperiores? Voluptatem odio numquam beatae cupiditate! Dicta fugit doloremque recusandae! Lorem ipsum dolor sit amet consectetur,
    adipisicing elit. Illum vero labore, soluta consectetur tenetur ex voluptas. Assumenda fuga minus veritatis enim dolore laborum cupiditate vel necessitatibus. Ab totam tempore aliquid.
</p>